@import "/styles/root.css";
@import "/styles/components/default.css";
@import "/styles/components/search.css";
@import "/styles/components/table.css";
@import "/styles/components/dropdown.css";

main {
    padding: 4rem 6rem;
}

#table-inputs {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    gap: 2rem;
}

#filters {
    display: flex;
    gap: 2rem
}