bottom-waves {
    margin-top: auto;
    transform: rotate(180deg);
    overflow: hidden;
    line-height: 0;
    width: 100%;
}

bottom-waves svg {
    display: block;
    position: relative;
    transform: rotateY(180deg);
    width: calc(110% + 0.1rem);
    height: 11rem;
}

bottom-waves .shape-fill {
    fill: var(--blue);
}