button {
    font-size: 1.4rem;
    border-radius: 1rem;
}

button {
    font-weight: bold;
    cursor: pointer;
}

.btn-main {
    padding: 1.8rem 5rem;
    background: var(--blue);
    transition: opacity 0.2s ease-in-out;
    width: fit-content;
    color: white;
}

.btn-main:hover {
    opacity: 0.8;
}

.btn-white {
    background-color: white;
    font-size: 1.6rem;
    color: var(--blue);
}

.btn-white:hover {
    opacity: 0.9;
}