.lds-facebook {
    display: inline-block;
    margin: auto;
    width: 8rem;
    height: 8rem;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    background: #EEE;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    width: 1.6rem;
    left: .8rem;
}

.lds-facebook div:nth-child(1) {
    animation-delay: -0.24s;
    left: .8rem;
}

.lds-facebook div:nth-child(2) {
    animation-delay: -0.12s;
    left: 3.2rem;
}

.lds-facebook div:nth-child(3) {
    animation-delay: 0s;
    left: 5.6rem;
}

@keyframes lds-facebook {
    0% {
        top: .8rem;
        height: 6.4rem;
    }

    50%,
    100% {
        top: 2.4rem;
        height: 3.2rem;
    }
}