.table-wrapper {
    border: var(--small-border);
    border-top: 0.6rem solid var(--light-grey);
    border-radius: 1.5rem;
    min-height: 60rem;
}

table {
    position: relative;
    border-spacing: 0;
    width: 100%;
}

th {
    border-bottom: .1rem solid var(--light-grey);
}

td:first-child, th:first-child {
    padding-left: 4rem;
}

td, th {
    padding: 1.5rem;
}

/* empty state illustration */
.empty-state h3 {
    margin: -1.5rem 0 1.5rem 0;
}