.toast {
    position: fixed;
    visibility: hidden;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 1.5rem;
    width: min-content;
    min-width: 22rem;
    padding: 2rem 2rem;
    bottom: 3rem;
    left: 50%;
    z-index: 99;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 3rem;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 3rem;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 3rem;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 3rem;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}